@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 24px;
  font-family: "Forum", cursive;
  line-height: 1.5;
}

.mainSection .displayNone {
  display: none;
}
.mainSection .change {
  overflow: unset;
}
.mainSection .loader {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 1;
  transition: 2.5s ease-out;
}
.mainSection .opacityBg {
  border-radius: 100% 100% 50% 70%;
  transform: scale(0);
  opacity: 0;
}
.mainSection .main .sectionOne {
  position: relative;
  background-color: red;
  width: 100%;
  height: 100vh;
  z-index: -7;
}
.mainSection .main .sectionOne .one {
  position: relative;
  background-color: white;
  padding: 20%;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -5;
}
.mainSection .main .sectionOne .one::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, rgba(255, 227, 17, 0.058), transparent);
}
.mainSection .main .sectionOne .one .circle {
  position: absolute;
  top: 220px;
  left: -100px;
  width: 350px;
  opacity: 0.1;
  z-index: -4;
}
.mainSection .main .sectionOne .one .square {
  position: absolute;
  top: -140px;
  right: -140px;
  width: 350px;
  transform: rotate(45deg);
  z-index: -4;
  opacity: 0.1;
}
.mainSection .main .sectionOne .one .pentagon {
  position: absolute;
  bottom: -50px;
  right: -80px;
  width: 350px;
  transform: rotate(45deg);
  opacity: 0.1;
  z-index: -4;
}
.mainSection .main .sectionOne .two {
  position: relative;
  background-color: rgba(255, 227, 17, 0.058);
  width: 100%;
  height: 100vh;
  padding: 20%;
  overflow: hidden;
}
.mainSection .main .sectionOne .two::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, rgb(255, 255, 255), transparent);
}
.mainSection .main .sectionOne .two .letter_a {
  position: absolute;
  top: 30%;
  right: 0;
  width: 450px;
  opacity: 0.1;
}
.mainSection .main .sectionOne .three {
  background-color: white;
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20%;
  overflow: hidden;
}
.mainSection .main .sectionOne .three .letter_e {
  position: absolute;
  top: 10%;
  right: 0;
  width: 150px;
  opacity: 0.1;
}
.mainSection .main .sectionOne .three .letter_i {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 150px;
  opacity: 0.1;
}
.mainSection .main .sectionOne .four {
  position: relative;
  background-color: rgba(255, 227, 17, 0.058);
  width: 100%;
  height: 100vh;
  padding: 20%;
  z-index: -3;
  overflow: hidden;
}
.mainSection .main .sectionOne .four::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, transparent, rgb(255, 255, 255));
  z-index: -2;
}
.mainSection .main .sectionOne .four::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to top, rgb(255, 255, 255), transparent);
  z-index: -2;
}
.mainSection .main .sectionOne .four .letter_o {
  position: absolute;
  top: 40%;
  right: 10%;
  width: 350px;
  opacity: 0.1;
}
.mainSection .main .sectionOne .five {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20%;
}
.mainSection .main .sectionOne .five .letter_u {
  position: absolute;
  top: 30%;
  left: 0;
  width: 450px;
  opacity: 0.1;
}

@media (min-width: 768px) {
  p {
    font-size: 28px;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 35px;
  }
}/*# sourceMappingURL=styles.css.map */